---
interface Props {
  id: number
  name: string
  rooms: number
  price: number
  imageUrl: string
}

const { id, name, rooms, price, imageUrl } = Astro.props
---

<a href={`/cabin/${id}`}>
  <div
    class='flex flex-col rounded-3xl object-cover shadow-lg shadow-white-500/50 cursor-pointer focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium text-center items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-105 scale-100 opacity-90 hover:opacity-100'
  >
    <picture class='flex justify-center rounded-3xl object-cover'>
      <img src=`${imageUrl}` class='h-52 rounded-t-3xl' alt='cabinImg' />
    </picture>

    <div class='flex flex-col h-full w-full p-4'>
      <span class="flex">
        <h4 class='text-2xl text-primaryText font-medium'>{name}</h4>
      </span>
      <span class='flex flex-row'>
        <p class='text-xl text-secondatyText font-medium'>{price} $</p>
      </span>
      <span class='flex flex-row gap-1'>
        <p class='text-lg text-primaryText font-medium'>
          {rooms} habitaciones.
        </p>
      </span>
    </div>
  </div>
</a>

<style></style>
